/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/*
.col{
    background-color: blanchedalmond;
    border:2px;
    border-style: solid;
    border-color: red;
}

.col-4{
    background-color: blanchedalmond;
    border:2px;
    border-style: solid;
    border-color: red;
}

.col-3{
    background-color: blanchedalmond;
    border:2px;
    border-style: solid;
    border-color: red;
}
.col-10{
    background-color: blanchedalmond;
    border:2px;
    border-style: solid;
    border-color: red;
}
.col-5{
    background-color: blanchedalmond;
    border:2px;
    border-style: solid;
    border-color: red;
}*/