<table class="table-responsive table table-dark">
  <tbody>
    <tr>
      <td>Nombre</td>
      <td contenteditable="true">Blank</td>
    </tr>
    <tr>
      <td>Edad</td>
      <td contenteditable="true" (focusout)="update()">Blank</td>
      <button *ngIf="">ok</button>
    </tr>
    <tr>
      <td>Sexo</td>
      <td contenteditable="true">Blank</td>
    </tr>
    <tr>
      <td>Clase</td>
      <td contenteditable="true">Blank</td>
    </tr>
    <tr>
      <td>Ocupacion</td>
      <td contenteditable="true">Blank</td>
    </tr>
    <tr>
      <td>Idiomas</td>
      <td contenteditable="true">Blank</td>
    </tr>
  </tbody>
</table>
